.image-box {
    width:380px;
    height:220px;
    overflow:hidden;
    margin:0 auto;
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}

.frame1 {
    position: relative;
    top: 250px;
    left: 35%;
    width: 400px;
    height: 300px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);

  }

  .frame2 {
    position: relative;
    top: 250px;
    left: 54%;
    width: 400px;
    height: 300px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);

  }

  .frame3 {
    position: relative;
    top: 250px;
    left: 16%;
    width: 400px;
    height: 300px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    background-color:rgb(158, 203, 252);

  }

  .center {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
  }

  h3 {
    height: 1.5em;
    width: 220px;
    padding: 10xp 10px;
    border-style: none none solid none;
  }

  h4 {
    height: 1.5em;
    width: 220px;
    padding: 10xp 10px;
    border-style: none none solid none;
  }

  .item {
	height: 1.8rem;
	width: 220px;
	outline: none;
}

.item:hover {
	color: #9baec8;
}

.image {
    position:relative;
  }
  
.image .text {
    position:absolute;
    top:40%;
    left:41%;
    border-style: solid;
    border-color: white;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
}

